// Colors
$red: #C3003B;
$blue: #447F8B;
$grey: #56565A;
$green: #9EB539;
$yellow: #EEC216;
$purple: #691D52;
$pink: #CD5758;
// Do not touch anything beyond this line
$colors: ("red": $red, "blue": $blue, "grey": $grey, "green": $green, "yellow": $yellow, "purple": $purple, "pink": $pink);